{% extends "base.html.twig" %}

{% block title %}BarberShop - Registration{% endblock %}

{% block body %}
    <div class="container margtop">
        <h1 class="center">Inscription</h1>
        <section class="">
            <div class="center">
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_start(form) }}
                    </div>

                    <div class="input-field col s6">
                        {{ form_row(form.username) }}
                    </div>

                    <div class="input-field col s6">
                        {{ form_row(form.email) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        {{ form_row(form.plainPassword.first) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        {{ form_row(form.plainPassword.second) }}
                    </div>
                </div>

                <button class="btn waves-effect waves-light black gold" type="submit">Valider mon inscription!</button>
                {{ form_end(form) }}
            </div>
        </section>
    </div>

{% endblock %}