{% extends "base.html.twig" %}

{% block title %}BarberShop - Galerie{% endblock %}

{% block body %}
    <div class="container margtop margbot">
        <h1 class="center Oxygen gold black padtop padbot borrad">Notre galerie photo</h1>

        <section class="row">
                    <div class="col s12 m6 l3">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                                <span class="card-title greatvibes gold">Dégrader</span>
                                <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                                <span class="card-title greatvibes gold">Dégrader</span>
                                <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                                <span class="card-title greatvibes gold">Dégrader</span>
                                <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                                <span class="card-title greatvibes gold">Dégrader</span>
                                <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                            </div>
                        </div>
                    </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="{{ asset('medias/barber.jpg') }}">
                        <span class="card-title greatvibes gold">Dégrader</span>
                        <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
        $('.materialboxed').materialbox();
        });
    </script>
{% endblock %}